.section-navbar {
    background-color: #ffffff;
    padding: 30px 0;
    position: center;
    font-family: 'Catamaran', sans-serif;
}

.section-demo-screen {
    background-image: url('/img/bg-pattern.png') center;
    background-color: #DA2A3C;
    padding: 30px 0;
}

.discover {
    background-color: #FDC846;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
}

.unlimited {
    background-color: #ffffff;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
}

@media(min-width:768px) {
    .section-navbar,
    .section-demo-screen,
    .discover,
    .unlimited,
    .container,
    .stop-waiting,
    .social-media,
    .footer {
        padding: 40px 0;
    }
    p {
        color: #ffffff;
    }
}

@media(min-width:992px) {
    .section-navbar,
    .section-demo-screen,
    .discover,
    .unlimited,
    .container,
    .stop-waiting,
    .social-media,
    .footer {
        padding: 45px 0;
    }
}

p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Catamaran', sans-serif;
}

.btn btn-sm btn-info {
    border-radius: 20px;
}

.stop-waiting {
    background-image: url('/img/bg-cta.jpg') center;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
}

.social-media {
    background-image: url('/img/bg-cta.jpg') center;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
}

.footer {
    font-family: 'Muli', sans-serif;
}